In [52]:
from sklearn.linear_model import Ridge
import numpy as np
import pandas as pd
from sklearn import preprocessing
import datetime as dt

data = pd.read_csv('data/updated_csv_filtered_FINAL.csv')
#start_date = "2017-1-1"
#end_date = "2017-12-31"
#data = data[(data['Campaign_Date'] >= start_date) & (data['Campaign_Date'] <= end_date)]
data = data.drop(columns=['URL', 'All_Keywords', 'Title', 'Reason_For_Fund', 'Campaign_Date', 'Organizer','Beneficiary', 'Location','Num_Updates', 'Num_Comments', 'Is_Charity', 'Charity', 'Currency_Code', 'Comments_Enabled', 'Donations_Enabled', 'Country','Is_Business', 'Is_Team', 'Campaign_Photo_URL', 'Description'])

In [53]:
data

,Total_Raised,Total_Goal,Percent_Reached,Donors,Shares,Followers,Donation_Count
0,4223.0,4000.0,1.06,62.0,732.0,73.0,62.0
1,2545.0,1500.0,1.70,24.0,47.0,26.0,24.0
2,5350.0,7500.0,0.71,65.0,551.0,64.0,75.0
3,44015.0,100000.0,0.44,729.0,2700.0,859.0,758.0
4,22081.0,25000.0,0.88,166.0,1100.0,166.0,170.0
...,...,...,...,...,...,...,...
7962,35214.0,30000.0,1.17,263.0,227.0,263.0,264.0
7963,9425.0,10000.0,0.94,79.0,174.0,79.0,81.0
7964,8190.0,10000.0,0.82,144.0,173.0,142.0,152.0
7965,10975.0,NaN,NaN,NaN,NaN,NaN,127.0
7966,169995.0,200000.0,0.85,1000.0,4500.0,1000.0,1086.0

In [54]:
data['Total_Raised'] = pd.Series(preprocessing.scale(data['Total_Raised'].values))
data['Total_Goal'] = pd.Series(preprocessing.scale(data['Total_Goal'].values))
data['Percent_Reached'] = pd.Series(preprocessing.scale(data['Percent_Reached'].values))
data['Donors'] = pd.Series(preprocessing.scale(data['Donors'].values))
data['Shares'] = pd.Series(preprocessing.scale(data['Shares'].values))
data['Followers'] = pd.Series(preprocessing.scale(data['Followers'].values))
data['Donation_Count'] = pd.Series(preprocessing.scale(data['Donation_Count'].values))